.analysis_page{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.iframe_container{
	width: 840px;
    height: 400px;
    padding: 0;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: 10px 14px 35px -14px rgba(0,0,0,0.73);
    -moz-box-shadow: 10px 14px 35px -14px rgba(0,0,0,0.73);
    box-shadow: 10px 14px 35px -14px rgba(0,0,0,0.73);
}
.iframe_container > iframe{
	width: 1440px;
    height: 811px;
    border: 0;

    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.6);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
