.app{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:center;
}

.upload_container{
	height: 200px;
}

.files{
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid red;
}

.file{
	margin: 10px 10px;
	border: 2px solid red;
}
